#dangky{
    background-color:#CCCCCC;
    text-align:center;
    }
    #bang{background-color:#66FFCC;
    font-size:24px}
    input{font-family:Arial;padding:2px 0 2px 5px;
    margin:0 0 10px 0;
    width:200px; height:20px;
    background:#fff;
    border:1px solid #dbdbdb;
    color:#999;font-size:13px;
    -moz-border-radius:3px;
     -webkit-border-radius:3px;
      border-radius:3px;
      }
    <!--style cho radio button-->
    input[type="radio"] {
        display:none;
    }
    input[type="radio"] {
        color: brown;
        font-family:Arial, sans-serif;
        font-size:14px;
    }
    input[type="radio"]{
        display:inline-block;
        width:19px;
        height:19px;
        margin:-1px 4px 0 0;
        vertical-align:middle;
        cursor:pointer;
        -moz-border-radius:  50%;
        border-radius:  50%;
    }
    input[type="radio"] {
         background-color: Brown;
    }
    input[type="radio"]:checked {
         background-color: Orange;
    }
    input[type="radio"] ,
    input[type="radio"]:checked  {
      -webkit-transition:background-color 0.4s linear;
      -o-transition:background-color 0.4s linear;
      -moz-transition:background-color 0.4s linear;
      transition:background-color 0.4s linear;
    }
    button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }
    button:hover {
        background-color: #008CBA;
        color: white;
    }
    input[type=text]{width:40%}
    