table{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,50%);
    width: 500px;
}
.picture{
    width: 150px;
}
.align{
    text-align: left;
    font-size: 14px;
    height: 25px;
    padding: 3px;
}
.align_2{
    text-align: left;
    font-size: 14px;
    height: 25px;
    padding: 3px;
    color:black;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}
.infomation{
    text-align: left;
    padding: 5px;
}
.table_name{
    height: 45px;
    font-size: 34px;
}
